{% extends 'base.html.twig' %}

{% block title %}DANIEL EO{% endblock %}

{% block body %}
<style>
</style>

{% include 'site/_accueil.html.twig' %}

<div class="" id="zone3">
{% include 'site/_contenu.html.twig' %}
</div>


{% endblock %}
