{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="error-content">
        <h1 class="display-4 text-center my-5">Page non trouvée</h1>

        <p class="text-center">
            La page demandée n'a pas pu être localisée. Vérifiez toute faute d'orthographe de l'URL ou revenez à la <a href="{{ path('site') }}">page d'accueil</a>.
        </p>
    </div>

{% endblock %}